@keyframes sail {
	0% {margin-top: 16vh;}
	5% {transform: translate(-100%,-100%) scale(1);}
	15% {margin-top: 16vh; transform: translate(100vw,-100%) scale(1); z-index: 3;}

	15.01% {margin-top: 8vh; z-index: 1;}
	20% {transform: translate(100vw,-100%) scale(.5);}
	50% {margin-top: 8vh; transform: translate(-100%,-100%) scale(.5); z-index: 1;}

	50.01% {margin-top: 14vh; z-index: 3;}
	55% {transform: translate(-100%, -100%) scale(.7);}
	70% {margin-top: 14vh; transform: translate(100vw, -100%) scale(.7); z-index: 3;}

	70.01% {margin-top: 12vh; z-index: 3;}
	75% {transform: translate(100vw, -100%) scale(.8);}
	100% {margin-top: 12vh; transform: translate(-100%, -100%) scale(.8);}
}
@keyframes light {
	0% {transform: rotatey(0deg) scale(3,.5); z-index: 2;}
	50% {z-index: -1;}
	100%  {transform: rotatey(360deg) scale(3,.5); z-index: -1;}		
}
@keyframes wiggle {
	to {transform: rotate(5deg);}
}
@keyframes wave {
	to {background-position: 20px center;}
}
@keyframes beach {
	to {height: 40px;}
}
@keyframes roll {
	to {transform: rotate(45deg); right: 31%;}
}